  <header>
    <h1>Employer Home Page</h1>
    {% if user.is_authenticated %}
      Hi {{ user.username }}!
      <a href="{% url 'logout' %}">logout</a>
    {% else %}
      <a href="{% url 'login' %}">login</a>
    {% endif %}
  </header>
<p> You are now on the employee home page</p>
<p>How about starting to create your profile?</p>
<a href="{% url 'createprofile:emplyer_create_profile' %}">Create profile</a>

 <p>Want to Upload a listing?</p>
<a href="{% url 'createprofile:listing_form_upload' %}">Upload Listing</a>

 <p>Or your Logo??</p>
<a href="{% url 'createprofile:employer_photo_form_upload' %}">Upload Logo</a>

<p>How about Viewing your profile?</p>
 <a href="{% url 'createprofile:employer_view_profile' %}">view profile</a>
 <p>Already Done?</p>
 <p>How about editing your profile?</p>
 <a href="{% url 'createprofile:emplyer_edit_profile' %}">edit profile</a>

